Repository konstellation-io/kre, pull requests merged in 2020-06, with the labels that each got.

#48 fix(admin-ui): local tz is now used on all places (and utc is sent)
  admin-ui/src/components/Form/Calendar/Calendar.tsx
  admin-ui/src/graphql/client/resolvers/updateTabFilters.ts
  admin-ui/src/pages/Version/pages/Metrics/Metrics.tsx
  admin-ui/src/pages/Version/pages/Status/LogsPanel/components/Filters/components/DatesFilter/DateFilter.tsx
Labels: bug, sys_admin_ui

#49 User activity small refactor
  admin-ui/src/pages/UsersActivity/UsersActivity.tsx
  admin-ui/src/pages/UsersActivity/components/FiltersBar/FiltersBar.tsx
Labels: sys_admin_ui, tech_debt

#86 Submit on enter when confirmation message appears
  admin-ui/src/components/Form/TextInput/TextInput.tsx
  admin-ui/src/components/Layout/ModalContainer/layouts/ModalLayoutJustify/ModalLayoutJustify.tsx
  admin-ui/src/pages/Version/components/VersionSideBar/VersionActions/VersionActions.tsx
Labels: sys_admin_ui

#87 Fix blur focus bug on search input
  admin-ui/src/components/Form/SearchSelect/SearchSelect.tsx
  admin-ui/src/components/Settings/Settings.module.scss
Labels: bug, sys_admin_ui

#90 feat(admin-ui): Implement v2 of Version Configuration Fixes #23
  admin-ui/src/components/ConfigurationVariableList/ConfigurationVariableItem.tsx
  admin-ui/src/components/ConfigurationVariableList/ConfigurationVariableList.module.scss
  admin-ui/src/components/ConfigurationVariableList/ConfigurationVariableList.spec.tsx
  admin-ui/src/components/ConfigurationVariableList/ConfigurationVariableList.tsx
  admin-ui/src/components/ConfigurationVariableList/__snapshots__/ConfigurationVariableList.spec.tsx.snap
  admin-ui/src/components/Form/SearchSelect/SearchSelect.module.scss
  admin-ui/src/components/Form/SearchSelect/SearchSelect.tsx
  admin-ui/src/components/Form/SearchSelect/__snapshots__/SearchSelect.spec.tsx.snap
  admin-ui/src/components/Form/Select/Select.module.scss
  admin-ui/src/components/Form/Select/Select.tsx
  admin-ui/src/components/Form/Select/__snapshots__/Select.spec.tsx.snap
  admin-ui/src/components/Layout/HorizontalBar/HorizontalBar.tsx
  admin-ui/src/components/Layout/ModalContainer/ModalContainer.module.scss
  admin-ui/src/graphql/queries/getVersionWorkflows.graphql
  admin-ui/src/graphql/queries/types/GetVersionWorkflows.ts
  admin-ui/src/keymaps.ts
  admin-ui/src/pages/Version/pages/Configuration/Configuration.module.scss
  admin-ui/src/pages/Version/pages/Configuration/Configuration.tsx
  admin-ui/src/pages/Version/pages/Configuration/ConfigurationFilters.tsx
  admin-ui/src/pages/Version/pages/Configuration/components/ConfVarPanel/ConfVarPanel.module.scss
  admin-ui/src/pages/Version/pages/Configuration/components/ConfVarPanel/ConfVarPanel.tsx
  admin-ui/src/styles/_mixins.scss
Labels: sys_admin_ui

#89 Remove allowed emails from Admin API/UI
  admin-api/adapter/gql/generated.go
  admin-api/adapter/gql/models.go
  admin-api/adapter/gql/resolver.go
  admin-api/delivery/http/httperrors/errors.go
  admin-api/domain/entity/setting.go
  admin-api/domain/usecase/auth.go
  admin-api/domain/usecase/auth_test.go
  admin-api/schema.graphql
  admin-ui/src/graphql/mutations/types/UpdateAllowedEmails.ts
  admin-ui/src/graphql/mutations/updateAllowedEmails.graphql
  admin-ui/src/graphql/queries/getAllowedEmails.graphql
  admin-ui/src/graphql/queries/types/GetAllowedEmails.ts
  admin-ui/src/graphql/types/globalTypes.ts
  admin-ui/src/pages/Settings/SecuritySettings.tsx
  admin-ui/src/pages/Settings/components/AllowedEmails/AllowedEmails.tsx
Labels: feat_users, sys_admin_api, sys_admin_ui

#85 Add entrypoint logs to logs pannel.
  admin-ui/src/components/Form/GroupSelect/Group.tsx
  admin-ui/src/hooks/useWorkflowsAndNodes.ts
  admin-ui/src/pages/Version/pages/Status/LogsPanel/components/AppliedFilters/AppliedFilters.tsx
  admin-ui/src/pages/Version/pages/Status/LogsPanel/components/AppliedFilters/Filter.tsx
  admin-ui/src/pages/Version/pages/Status/components/Workflow/Workflow.tsx
  admin-ui/src/pages/Version/pages/Status/components/Workflow/WorkflowChart.tsx
  admin-ui/src/pages/Version/pages/Status/components/Workflow/WorkflowViz.module.scss
  admin-ui/src/pages/Version/pages/Status/components/Workflow/WorkflowViz.tsx
Labels: feat_logs, sys_admin_api, sys_admin_ui

#108 feat: Access control using a RBAC model
  admin-api/Dockerfile
  admin-api/adapter/auth/casbin_access_control.go
  admin-api/adapter/gql/resolver.go
  admin-api/adapter/repository/mongodb/runtime.go
  admin-api/adapter/repository/mongodb/setting.go
  admin-api/casbin_rbac_model.conf
  admin-api/casbin_rbac_policy.csv
  admin-api/delivery/http/controller/auth.go
  admin-api/domain/repository/runtime.go
  admin-api/domain/repository/setting.go
  admin-api/domain/usecase/auth.go
  admin-api/domain/usecase/auth/access_control.go
  admin-api/domain/usecase/metrics.go
  admin-api/domain/usecase/resource_metrics.go
  admin-api/domain/usecase/runtime.go
  admin-api/domain/usecase/setting.go
  admin-api/domain/usecase/user.go
  admin-api/domain/usecase/user_activity.go
  admin-api/domain/usecase/version_interactor.go
  admin-api/go.mod
  admin-api/go.sum
  admin-api/main.go
  admin-ui/src/accessLevelRoutes.tsx
  admin-ui/src/components/NavigationBar/NavigationBar.tsx
  admin-ui/src/components/Settings/Settings.tsx
  admin-ui/src/pages/Dashboard/Dashboard.tsx
  admin-ui/src/pages/Version/pages/Status/components/Workflow/Workflow.tsx
  admin-ui/src/pages/Version/pages/Status/components/Workflow/WorkflowHeader.tsx
  admin-ui/src/rbac-rules.ts
Labels: security, sys_admin_api, sys_admin_ui
