Repository konstellation-io/kre, pull requests merged in 2020-09, with the labels that each got.

#261 fix(admin-ui): runtime creation error added to notifications
  admin/admin-ui/mock-server/src/mock.js
  admin/admin-ui/src/Components/NotificationService/Services/RuntimeCreated/RuntimeCreated.tsx
Labels: sys_admin_ui

#263 feat(entrypoint): Save elapsed time
  admin/k8s-manager/kubernetes/version/entrypoint.go
  runners/kre-entrypoint/Pipfile
  runners/kre-entrypoint/requirements.txt
  runners/kre-entrypoint/src/config.py
  runners/kre-entrypoint/src/kre_grpc.py
  runners/kre-entrypoint/src/kre_measurements.py
  runners/kre-entrypoint/src/main.py
Labels: sys_k8s_manager, sys_runner_entrypoint

#271 fix(admin-ui): fix typo
  admin/admin-ui/src/Pages/Version/pages/Status/components/ResourceMetrics/ResourceMetrics.module.scss
  admin/admin-ui/src/Pages/Version/pages/Status/components/ResourceMetrics/ResourceMetrics.tsx
Labels: sys_admin_ui, 🐞 bug

#273 fix(admin-ui): add entrypoint to logs when clicking on a workflow
  admin/admin-ui/src/Pages/Version/pages/Status/components/Workflow/Workflow.tsx
Labels: sys_admin_ui, 🐞 bug

#274 feat(admin-ui): close log tab functionality added on tab middle click
  admin/admin-ui/src/Pages/Version/pages/Status/LogsPanel/LogsPanel.tsx
  admin/admin-ui/src/Pages/Version/pages/Status/LogsPanel/components/TabContainer/TabContainer.tsx
Labels: :lipstick: enhancement, feat_logs, sys_admin_ui

#294 feat(admin-ui): move users section to main menu
  admin/admin-ui/src/App.tsx
  admin/admin-ui/src/Components/Alert/__snapshots__/Alert.spec.tsx.snap
  admin/admin-ui/src/Components/ConfigurationVariableList/__snapshots__/ConfigurationVariableList.spec.tsx.snap
  admin/admin-ui/src/Components/Header/__snapshots__/Header.spec.tsx.snap
  admin/admin-ui/src/Components/Layout/PageBase/__snapshots__/PageBase.spec.tsx.snap
  admin/admin-ui/src/Components/NotificationService/__snapshots__/Notification.spec.tsx.snap
  admin/admin-ui/src/Components/Settings/Settings.tsx
  admin/admin-ui/src/Components/Settings/__snapshots__/Settings.spec.tsx.snap
  admin/admin-ui/src/Constants/routes.ts
  admin/admin-ui/src/Pages/AddRuntime/__snapshots__/AddRuntime.spec.tsx.snap
  admin/admin-ui/src/Pages/AddUser/AddUser.tsx
  admin/admin-ui/src/Pages/Runtime/pages/RuntimeVersions/components/PublishedVersionStatus/__snapshots__/PublishedVersionStatus.spec.tsx.snap
  admin/admin-ui/src/Pages/Settings/Settings.tsx
  admin/admin-ui/src/Pages/Settings/__snapshots__/Settings.spec.tsx.snap
  admin/admin-ui/src/Pages/Users/Users.module.scss
  admin/admin-ui/src/Pages/Users/Users.tsx
  admin/admin-ui/src/Pages/Users/components/UserFiltersAndActions/UserActions.tsx
  admin/admin-ui/src/Pages/Users/components/UserFiltersAndActions/UserFilters.tsx
  admin/admin-ui/src/Pages/Users/components/UserFiltersAndActions/UserFiltersAndActions.module.scss
  admin/admin-ui/src/Pages/Users/components/UserFiltersAndActions/UserFiltersAndActions.tsx
  admin/admin-ui/src/Pages/Users/components/UserList/UserList.module.scss
  admin/admin-ui/src/Pages/Users/components/UserList/UserList.tsx
  admin/admin-ui/src/Pages/Users/components/UserList/UsersTable.tsx
  admin/admin-ui/src/Pages/Users/components/UserRow/UserRow.module.scss
  admin/admin-ui/src/Pages/Users/components/UserRow/UserRow.tsx
  admin/admin-ui/src/Pages/Users/confirmationModals.ts
  admin/admin-ui/src/Pages/UsersActivity/components/FiltersBar/__snapshots__/FiltersBar.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/VersionActions/__snapshots__/VersionActions.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Configuration/__snapshots__/Configuration.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Configuration/components/ConfVarPanel/__snapshots__/ConfVarPanel.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Documentation/__snapshots__/Documentation.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Metrics/components/Box/__snapshots__/Box.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Metrics/components/DashboardHeader/__snapshots__/DashboardHeader.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Status/LogsPanel/__snapshots__/LogsPanel.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Status/LogsPanel/components/Filters/__snapshots__/Filters.spec.tsx.snap
  admin/admin-ui/src/Pages/Version/pages/Status/components/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  admin/admin-ui/src/accessLevelRoutes.tsx
  admin/admin-ui/src/rbac-rules.ts
Labels: sys_admin_ui

#299 fix(admin-ui): Fix search by user email in the user activity list
  admin/admin-ui/src/Pages/UsersActivity/UsersActivity.tsx
  admin/admin-ui/src/Pages/UsersActivity/components/FiltersBar/FiltersBar.tsx
Labels: sys_admin_ui

#314 fix: don't allow to create runtimes with the same name
  admin/admin-api/adapter/repository/mongodb/runtime.go
  admin/admin-api/domain/repository/runtime.go
  admin/admin-api/domain/usecase/runtime.go
  admin/admin-api/domain/usecase/runtime_test.go
  admin/admin-api/mocks/repo_runtime.go
Labels: sys_admin_api

#321 feat(admin-ui): move runtime links below back button on version sidebar
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/BackButton/BackButton.module.scss
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/BackButton/BackButton.tsx
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/RuntimeMenu/RuntimeMenu.module.scss
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/RuntimeMenu/RuntimeMenu.tsx
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/VersionMenu/VersionMenu.tsx
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/VersionSideBar.module.scss
  admin/admin-ui/src/Pages/Version/components/VersionSideBar/VersionSideBar.tsx
Labels: sys_admin_ui

#333 fix(admin-ui): fix logs overflow
  admin/admin-ui/src/Pages/Version/pages/Status/LogsPanel/components/LogsList/LogsList.module.scss
Labels: sys_admin_ui, 🐞 bug

#353 feat: Change the date param to utcdate allowing to send datetimes ins…
  runners/kre-py/README.md
  runners/kre-py/src/context_prediction.py
  runners/kre-py/test/myvol/src/node/node_handler.py
Labels: sys_runner_py
